@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: sticky;
  top: 0;
  z-index: 100; 
}
.navbar {
  position: sticky;
  top: 80px; 
  z-index: 100; 
}

.image {
  height: 80px;
  width: 80px;
}

.map {
  max-width: 1000px;
  width: 80vw;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #020000;
  color: #ffffff;
}
